.RatingBody{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.BackImg{
    background-color: rgb(39, 46, 59);
    height: 50px;
    width: 50px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.RatingBody p1{
    color: var(--White);
    font-size: 25px;
    font-family: 'Overpass';
    font-weight: 700;
    margin: 10px 0px
}

.RatingBody p2{
    color: var(--MediumGrey);
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 30px;
}

.RatingBody button{
    outline: none;
    background-color: var(--Orange);
    border: none;
    width: 100%;
    padding: 12px 0px;
    border-radius: 30px;

    color: var(--White);
    font-size: 15px;
    font-family: 'Overpass';
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

.RatingBody button:hover{
    background-color: var(--White);
    color: var(--Orange);
}