.NumbersBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.NumbersBody button{
    background-color: rgb(39, 46, 59);
    width: 50px;
    height: 50px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--MediumGrey);
    font-size: 16px;
    font-family: 'Overpass';
    font-weight: 700;
    cursor: pointer;
}

.NumbersBody button:hover{
    background-color: var(--Orange);
    color: var(--White);
}

.NumbersBody button:focus{
    background-color: var(--MediumGrey);
    color: var(--White);
}